.artifact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    
  }
  
  @media (max-width: 768px) {
    .artifact-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  .idols-container{
    display: flex;
    flex-direction: column;
  }

  .idol-buttons{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
  }

  .idol-buttons button{
    cursor: pointer;
  }

  .artifact-flat{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }