.header {
    gap: 1rem;
    display: flex;
    width: 90%;
  }
  
  .header input {
    width: 40%;
    padding: 0.4rem;
    font-size: 16px;
  }
  
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    height: 3rem;
    align-items: center;
}